@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Nunito', sans-serif;

  --color-lightning-yellow-50: oklch(98.69% 0.02 95.28);
  --color-lightning-yellow-100: oklch(96.64% 0.06 97.39);
  --color-lightning-yellow-200: oklch(93.17% 0.12 96.91);
  --color-lightning-yellow-300: oklch(89.14% 0.16 93.22);
  --color-lightning-yellow-400: oklch(85.23% 0.17 86.17);
  --color-lightning-yellow-500: oklch(78.39% 0.17 72.02);
  --color-lightning-yellow-600: oklch(67.78% 0.16 59.48);
  --color-lightning-yellow-700: oklch(56.44% 0.15 50.15);
  --color-lightning-yellow-800: oklch(47.94% 0.13 47.32);
  --color-lightning-yellow-900: oklch(41.85% 0.11 46.66);
  --color-lightning-yellow-950: oklch(28.26% 0.07 47.14);
}
